<!DOCTYPE html>
<html>
<head>
	<title>Doctor</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body><center>
<h1 class="diaplay-1 text-white" style="padding:25px;background:green;" >Doctor's Dashboard</h1>
</center>
<div class="row">
	<div class="col-md-3 bg">
<h1 class="text-white">View charts</h1>
<a href="../chart"><button class="btn btn-lg btn-Success"> View</button></a>
	</div>
	<div class="col-md-3 bg">
		<h1 class="text-white">Schedule Meetings</h1>
<button class="btn btn-lg btn-Success"> Schedule</button>
	</div>
	<div class="col-md-3 bg">
		<h1 class="text-white">Contact patients</h1>
<button class="btn btn-lg btn-Success"> Contact</button>
	</div>
	

</div>
</body><style type="text/css">
	
.bg{
	background: green;
	height: 50px;
	width:50px;
	margin:50px;
}
</style>
</html>