{% extends "base.html" %}
{% block content %}
<a href="/login"><button type="button" class="btn btn-dark btn-lg" style="position: absolute;top: 10px;right: 30px"><strong>Log out</strong></button></a>
<body background="https://ak6.picdn.net/shutterstock/videos/28491496/thumb/1.jpg" style="background-size: 100%">
	<div>
    	<h1 align="center"><strong>Welcome {{ name }}</strong></h1>
    </div>
    <center>
    <div>
    	<div align="center">
        <a href="../doctor"><button type="button" class="btn btn-dark btn-lg" style="margin: 70px"><strong>DOCTOR</strong></button></a>
        <a href="../analyze"><button type="button" class="btn btn-dark btn-lg" style="margin: 70px"><strong>ANALYZE</strong></button></a>
    </div>
</div>
    </center>
    <div align="center">
        
    </div>
</body>
{% endblock %}
