

body {
  
}

/* Profile container */
.profile {
  margin: 20px 0;


}

/* Profile sidebar */
.profile-sidebar {
    position: fixed;
  padding: 20px 40px 0 0;
    width:270px;


}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 100%;
  height: 37%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 35px;
}

.profile-usertitle-name {
  color: grey;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-score {
  text-transform: uppercase;
  color: Grey;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid grey;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: grey;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #da1b60;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #da1b60;
  background-color: #f6f9fb;
  border-left: 2px solid #da1b60;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: ;
  background:;
  min-height: 460px;
  width: 1050px;
}
.bg{
    color: black;
    margin: 5px;
}
.vl{

}
#text1{
  background: #4f92ff;
  border-radius: 15px;
}
#text2{
  background: #a8dd68;
  border-radius: 15px;
}
#text3{
  background:#c66bd6;
  border-radius: 15px;
}
#chart{
  background: #eaa24f;
  border-radius: 15px;
  border-right: 4px solid  white;
}
.foot{
  background: #222222;
  color:white;
  position: absolute;
  left:0;
  bottom:0;
  width: 100%;
  height: 40px;
  margin-top:  100px;
}
.cool{
    border:40px solid white;
   
    border-radius:30px;
    width: 360px;
    background: white;
    padding: 20px solid white;
    
}